
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1; 
    color: #2c3e50; 
    text-align: center; 
}

header, main, footer {
    text-align: center; 
}

header {
    background-color: #3498db; 
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    gap: 1rem;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-align: center; 
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Montserrat', sans-serif;
}

nav ul li a:hover {
    background-color: #2c3e50; 
    border-radius: 4px;
}

nav ul li.active a {
    background-color: #fff;
    color: #2c3e50; 
    border-radius: 4px;
    font-weight: bold;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 2rem auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center; 
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    color: #2c3e50; 
}

h1 {
    margin-bottom: 1rem;
}

img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
}

.project {
    margin-bottom: 2rem;
    text-align: center; 
}

.project img {
    display: block; 
    margin: 0 auto 1rem; 
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
}

.project img:hover {
    transform: scale(1.05);
}

button {
    background-color: #2c3e50; 
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
    text-align: center; 
}

button:hover {
    background-color: #555;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    text-align: center; 
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: #2c3e50; 
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


header {
    background-color: #3498db; 
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}


.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db; 
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    display: none;
    transition: background-color 0.3s;
    text-align: center; 
}

.back-to-top:hover {
    background-color: #2c3e50; 
}

.center-image {
    display: block;
    margin: 0 auto; 
    max-width: 50%; 
    height: auto; 
    border-radius: 8px; 
}



body.show-back-to-top .back-to-top {
    display: block;
}

